<div class="pr-12 pb-12 pl-12">
    <div class="flex justify-center">
        <form [formGroup]="form" (ngSubmit)="handleFindDeviceById()">
            <div class="p-2 gap-4 flex">
                <div>
                    <mat-form-field color="primary">
                        <mat-label>Device id</mat-label>
                        <input matInput formControlName="id" type="number" required="">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-fab type="submit" [disabled]="form.invalid" class="p-2">
                        Search
                    </button>
                </div>
        
            </div>
        </form>
    </div>

    <div class="flex justify-center">
        <mat-paginator [length]="items"
            [pageIndex]="page"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            aria-label="Select page"
            (page)="onPageFired($event)">
        </mat-paginator>
    </div>

    @for (device of deviceList; track device.id) {
        <div class="p-2">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="grid grid-cols-3 ">
                        <div class="col-span-2">
                            
                            <div class="flex flex-row">
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">Id</p>
                                </div >
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">{{device.id}}</p>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">Color</p>
                                </div >
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">{{device.color}}</p>
                                </div>
                            </div>
            
                            <div class="flex flex-row">
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">Category</p>
                                </div >
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">{{device.categoryName}}</p>
                                </div>
                            </div>
            
                            <div class="flex flex-row">
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">Part Number</p>
                                </div >
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">{{device.partNumber}}</p>
                                </div>
                            </div>
            
                        </div>
                        <div class="flex justify-center p-2">
                            <button mat-button (click)="handleDeleteDevice(device.id)">
                                Delete
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    }
</div>