<div class="pr-12 pb-12 pl-12">
    <div class="flex justify-center">
        <form [formGroup]="form" (ngSubmit)="handleFindCategoryById()">
            <div class="p-2 gap-4 flex">
                <div>
                    <mat-form-field>
                        <mat-label>Category id</mat-label>
                        <input matInput formControlName="id" type="number" required="">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-fab type="submit" [disabled]="form.invalid" class="p-2">
                        Search
                    </button>
                </div>
        
            </div>
        </form>
    </div>

    <div class="flex justify-center">
        <mat-paginator [length]="items"
            [pageIndex]="page"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            aria-label="Select page"
            (page)="onPageFired($event)">
        </mat-paginator>
    </div>

    @for (category of categoryList; track category.id) {
        <div class="p-2">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="grid grid-cols-3">
                        <div class="col-span-2">
                            <div class="flex flex-row">
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">Id</p>
                                </div >
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">{{category.id}}</p>
                                </div>
                            </div>
                            <div class="flex flex-row">
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">Name</p>
                                </div >
                                <div class="basis-1/2 flex justify-center">
                                    <p class="text-sm">{{category.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center p-2">
                            <button mat-button (click)="handleDeleteDevice(category.id)">
                                Delete
                            </button>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
    }

</div>