<main class="main">
  <div class="content">
    <div class="left-side">
      <!-- <app-main-menu></app-main-menu> -->
      <!-- <app-item-card cardName="Category" [categories]="categories"></app-item-card> -->
      <!-- <app-device-creation-form [categories]="categories"></app-device-creation-form> -->
      <!-- <app-category-creation></app-category-creation> -->
      <!-- <app-dashboard [isDevices]="true" dashboardName="Devices" [devices]="devices"></app-dashboard> -->
      <app-dashboard dashboardName="Categories" [categories]="categories"></app-dashboard>
    </div>
  </div>
</main>
<router-outlet />
